{% extends '__base__.html' %}

{% block title %}CHANGE{% endblock %}

{% block beforehead %}

<script>

var email = '{{ email }}';
console.log(email)

$(function () {
    var vm = new Vue({
        el: '#vm',
        data: {
            password1: '',
            password2: '',
            password3: ''
        },
        methods: {
            submit: function (event) {
                event.preventDefault();
                var $form = $('#vm');
                if (this.password1.length < 6) {
                    return $form.showFormError('口令长度至少为6个字符');
                }
                if (this.password2.length < 6) {
                    return $form.showFormError('口令长度至少为6个字符');
                }
                if (this.password2 !== this.password3) {
                    return $form.showFormError('两次输入的口令不一致');
                }
                $form.postJSON('/api/changepwd', {
                    passwd1: this.password1==='' ? '' : CryptoJS.SHA1(email + ':' + this.password1).toString(),
                    passwd2: CryptoJS.SHA1(email + ':' + this.password2).toString()
                }, function (err, r) {
                    if (err) {
                        return $form.showFormError(err);
                    }
                    return location.assign('/');
                });
            }
        }
    });
    $('#vm').show();
});

</script>

{% endblock %}

{% block content %}

    <div class="uk-width-2-3">
        <h1>CHANGE</h1>
        <form id="vm" v-on="submit: submit" class="uk-form uk-form-stacked">
            <div class="uk-alert uk-alert-danger uk-hidden"></div>
            <div class="uk-form-row">
                <label class="uk-form-label">电子邮件:</label>
                <div class="uk-form-controls">
                    <input v-model="email" value={{email}} type="text" maxlength="50" class="uk-width-1-1" readonly>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">输入口令:</label>
                <div class="uk-form-controls">
                    <input v-model="password1" type="password" maxlength="50" placeholder="输入口令" class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">输入口令:</label>
                <div class="uk-form-controls">
                    <input v-model="password2" type="password" maxlength="50" placeholder="输入口令" class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">重复口令:</label>
                <div class="uk-form-controls">
                    <input v-model="password3" type="password" maxlength="50" placeholder="重复口令" class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-user"></i> 提交</button>
            </div>
        </form>
    </div>

{% endblock %}